$barHeight: 60px;

body {
    overflow-x: hidden;
    margin: 0 !important;
}

.el-menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-required:after {
    content: '*';
    color: red;
}

.el-aside {
    width: initial !important;
}

.left-menu {
    height: calc(100vh - 60px);
}

.box-card {
    .el-form-item {
        margin-bottom: 10px !important;
    }
}

.nav-card {
    margin: 10px 20px 10px 20px !important;
}

.files-down {
    .el-dialog {
        width: 80%;
    }
}

.el-popup-parent--hidden {
    padding-right: 0 !important;
}

.card-content-mobile {
    padding-top: 30px;
}

.line {
    text-align: center;
}

.box-card {
    margin: 0 20px 0 20px;
}

.box-card-no-nav {
    margin-top: 10px;
}

.tree-btn {
    padding: 5px !important;
}

.el-cascader {
    width: 100%;
}

.hiddenRow {
    display: none;
}

.tree-icon {
    padding-right: 5px;
}

.el-cascader-panel .el-radio {
    position: absolute;
    z-index: 10;
    padding: 0 10px;
    width: 132px;
    height: 34px;
    line-height: 34px;
}

.el-cascader-panel .el-radio__input {
    visibility: hidden;
}

//字体图标
.fa {
    width: 20px;
    color: #347dd6 !important;
}

.success-fa {
    color: #67C23A !important;
}

.warning-fa {
    color: #E6A23C !important;
}

.primary-fa {
    color: #409EFF !important;
}

.danger-fa {
    color: #dd6161 !important;
}

.right-fa {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}


//可点击的字体图标
.click-fa {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}

//树结构图标颜色
.tree-icon i {
    color: #909399 !important;
}

.el-badge__content {
    top: 15px !important;
    right: 0 !important;
}

.header-bar {
    background-color: #347dd6;

    .el-submenu__icon-arrow {
        color: white !important;
    }
}

.my-menu {
    .el-submenu__icon-arrow {
        color: #347dd6 !important;
    }
}

.header-bar-right {
    display: flex;
    justify-content: flex-end;
    height: $barHeight;
    line-height: $barHeight;
}

.header-navi {
    height: $barHeight;
}

.logo {
    height: $barHeight;
    line-height: $barHeight;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
    text-align: center;
}

.logo-title {
    width: 100%;
    text-align: center;
}

.exit-button {
    color: #fff !important;
}

.header-bar-user {
    color: #fff !important;
}

.left-menu {
    .fa {
        margin-right: 10px;
    }
}

.left-oper {
    display: none;
}

.right-button-group {
    margin-bottom: 20px;
}

.navbar-menu-wrapper {
    width: auto;
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    background-color: transparent;
    overflow: visible;
    display: flex;
    order: 2;
    transform: none;
    z-index: auto;
    flex: 1;
}

//小屏幕菜单缩略按钮
.small-menu-bar {
    display: none !important;
    color: #fff !important;
}

.small-menu {
    display: none !important;
}

//表格
.table-center {
    tr {
        th > div {
            text-align: center;
        }

        td > div {
            text-align: center;
        }
    }
}

.form-dialog {
    .el-dialog {
        width: 900px;
    }
}

//表格表单
.form-table {
    width: 100%;
    font-family: verdana, arial, sans-serif;
    font-size: 15px;
    color: #333333;
    border-width: 1px;
    border-color: #adaeb3;
    border-collapse: collapse;

    th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #adaeb3;
        color: #909399;
        background-color: #f5f7fa;
    }

    td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #adaeb3;
        background-color: #ffffff;
    }

    .form-input-code {
        width: 160px;
    }

    .el-input__inner {
        border: 0;
    }

    .el-form-item {
        margin-bottom: 0;
    }

    .compact-td {
        padding: 1px;
    }
}

.el-form-item__error {
    position: relative;
}

.el-table .success-row {
    background: #f0f9eb;
}

//分页导航
.page-nav {
    margin-top: 10px;
    float: right;
    margin-bottom: 10px;
}

//角色分配用户对话框样式
.role-user {
    .el-dialog {
        width: 823px
    }

    //穿梭框宽度
    .el-transfer-panel {
        width: 300px !important;
    }
}

//资料清单分配对话框样式
.material-group {
    .el-dialog {
        width: 1100px;
        height: 620px;
    }

    //穿梭框宽度
    .el-transfer-panel {
        width: 425px !important;
    }

    .el-transfer-panel__body {
        height: 320px;
    }

    .el-transfer-panel__list {
        height: 270px !important;
    }
}

.el-input.is-disabled .el-input__inner {
    color: #3e3d3d !important;
}

.el-textarea.is-disabled .el-textarea__inner {
    color: #3e3d3d !important;
}

//单选按钮
.el-radio {
    margin-right: 0 !important;
}

.el-radio.is-bordered + .el-radio.is-bordered {
    margin-left: 0 !important;
}

.editing {
    background-color: #c9f0c2 !important;
}

//mobile----------------------------------------


.mobile-item {
    width: 100% !important;
    margin-bottom: 10px !important;
    margin-left: 0 !important;
}

.mobile-item-width {
    width: 100% !important;
}

.mobile-div {
    padding: 10px;
    background-color: #f1f0f0;

    .full-height {
        height: calc(100vh - 20px);
        overflow: scroll;
    }

    * {
        font-size: 1.02em;
    }

    .el-form-item {
        margin-bottom: 0;
    }

    .el-input__inner {
        height: 50px;
    }

    .el-checkbox {
        height: 45px;
    }

    .el-button {
        font-size: 1.3em;
    }

    .el-card {
        margin: 10px 0 10px 0
    }
}


.mobile-item-row {
    margin-bottom: 10px;
}

.mobile-card {

}

.btn-mobile-full {
    width: 100%;
    padding: 12px 0 12px 0 !important;
}

.el-radio__label {
    width: 100% !important;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 18px;
    word-break: break-all;
}

.content-center {
    text-align: center;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.el-radio.is-bordered {
    padding: 12px 20px 12px 10px;
    height: auto;
}

.scores {

    height: calc(100vh - 20px);

    .el-alert__title {
        font-size: larger;
    }

    .el-table {
        td {
            font-size: 0.8em;
        }
    }
}

//适配小屏幕
@media screen and (max-width: 480px) {
    body {
        .navi-menu {
            display: none;
        }

        //导航菜单
        .small-menu {
            display: inline-block !important;
            order: 3;
            width: 260px;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            background-color: #fff;
            overflow: hidden;
            z-index: 1060;
            transform: translateX(-270px);
            transition: all 0.4s;
        }

        //菜单缩略按钮
        .small-menu-bar {
            display: inline-block !important;
            margin-right: 10px;
        }

        //logo加文宽度
        .header-bar {
            .logo {
                width: 150px;
            }
        }

        //弹出2级菜单图标颜色
        .el-menu--popup i {
            color: #347dd6 !important;
        }

        .el-message {
            min-width: 350px;
        }
    }
}

@media screen and (max-width: 320px) {
    .el-table {
        font-size: 12px;
    }
    .el-message {
        min-width: 300px !important;
    }
}